/*-- scss:defaults --*/
$body-bg: #24273a;
$body-color: #cad3f5;
$link-color: #8aadf4;
$code-color: #8aadf4;
$font-family-sans-serif: "Computer Modern Serif", serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/
.sidebar .chapter-title {
  color: #8aadf4;
}

#quarto-header {
  border-bottom: 1px solid #494d64;
}

pre, code, div.sourceCode {
  background-color: #363a4f !important;
}

pre.sourceCode {
  border: 1px solid #494d64;
}
