/*-- scss:defaults --*/
$link-color: #2D5A7B;
$primary: #2D5A7B;
$code-color: #2D5A7B;

/*-- scss:rules --*/
.sidebar .chapter-title {
  color: #2D5A7B;
}

#quarto-header {
  border-bottom: 1px solid #dee2e6;
}
