/*-- scss:defaults --*/
$body-bg: #eff1f5;
$body-color: #4c4f69;
$link-color: #1e66f5;
$primary: #1e66f5;
$code-color: #1e66f5;
$font-family-sans-serif: "Computer Modern Serif", serif;
$font-family-monospace: "Fira Code", monospace;

/*-- scss:rules --*/
.sidebar .chapter-title {
  color: #1e66f5;
}

#quarto-header {
  border-bottom: 1px solid #bcc0cc;
}

pre, code, div.sourceCode {
  background-color: #e6e9ef !important;
}

pre.sourceCode {
  border: 1px solid #bcc0cc;
}
